---
layout: default
---

<header>
  {% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
  {% endif %}

  <h2>{{ site.title }}</h2>
  {% if site.theme_config.show_description == true %}
  <p><small>{{ site.description }}</small></p>
  {% endif %}

  {% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
  {% endif %}


  <h2>Instructor</h2>
  <h3><a href="https://memorylab.stanford.edu/people/members" target="_blank">{{ site.instructor }}</a></h3>
  <img src="../psych-45/assets/images/team/anthony.jpg" width="100px" />
  <ul>
    <li><strong>Email:</strong> <a href="mailto:awagner@stanford.edu">awagner</a></li>
    <li><strong>Office Hours (+by appointment):</strong> Mondays 9-10a</li>
    <li><strong>Office Location:</strong> Bldg 420, Rm 402</li>
  </ul>


  <h2>Teaching Assistants</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">TA<br />Name</th>
        <th scope="col">Email (@stanford)</th>
        <th scope="col">OH(+by appointment)</th>
        <th scope="col">Office Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><img src="../psych-45/assets/images/team/alice.jpg" width="75px" /></th>
        <th scope="row"><a href="https://profiles.stanford.edu/alice-xue" 
          target="_blank">Alice Xue</a> (she/her) <em>Head
            TA</em></th>
        <td>alicexue</td>
        <td>None<br /></td>
        <td>N/A</td>
      </tr>
      <tr>
        <th><img src="../psych-45/assets/images/team/daniel.jpg" width="75px" /></th>
        <th scope="row"><a href="https://profiles.stanford.edu/daniel-ogunbamowo" 
          target="_blank">Daniel<br/>Ogunbamowo</a>
          (he/him)</th>
        <td>dogun</td>
        <td>Fridays<br />1-2p</td>
        <td>420-470</td>
      </tr>
      <tr>
        <th><img src="../psych-45/assets/images/team/nick.png" width="75px" /></th>
        <th scope="row"><a href="https://profiles.stanford.edu/alikhan-madibekov"
            target="_blank">Nick<br/>Madibekov</a> (he/they)</th>
        <td>alikhanm</td>
        <td>Thursdays<br />3-4p</td>
        <td>420-1st Floor Lounge</td>
      </tr>
      <tr>
        <th><img src="../psych-45/assets/images/team/kathrine.jpg" width="75px" /></th>
        <th scope="row"><a href="https://knight-hennessy.stanford.edu/people/kathrine-whitman" 
          target="_blank">Kathrine Whitman</a>
          (she/her)</th>
        <td>kwhitman</td>
        <td>Tuesdays<br />2-3p</td>
        <td>420-165</td>
      </tr>
      <tr>
        <th><img src="../psych-45/assets/images/team/ryan.jpg" width="75px" /></th>
        <th scope="row"><a href="https://profiles.stanford.edu/ryan-yan" 
          target="_blank">Ryan Yan</a>
          (she/her)</th>
        <td>ryany98</td>
        <td>Mondays<br />4-5p</td>
        <td>420-474</td>
      </tr>
      <tr>
        <th><img src="../psych-45/assets/images/team/sean.png" width="75px" /></th>
        <th scope="row"><a href="https://profiles.stanford.edu/324588" 
          target="_blank">Sean Anderson</a>
          (he/him)</th>
        <td>seanpaul</td>
        <td>Wednesdays<br />9-10a</td>
        <td>420-358</td>
      </tr>
    </tbody>
  </table>
</header>

{{ content }}

{% if site.theme_config.show_footer == true %}
<footer>
  <div class="dashed"></div>
  {% include horizontal_list.html collection=site.data.home.footer_entries %}
</footer>
{% endif %}
